article {
    width: inherit;
    height: 150px;
    background-color: green;
}
#motto {
    text-align: center;
    color: gray;
}
a[class*="fa fa-list"] {
    position: absolute;
    right: 15px;
    top: 25px;
    display: none;
}

nav ul {
    position: absolute;
    right: 30px;
    top: 70px;
    display: inline;
    list-style-type: none;
}

nav ul li {
    display: inline;
    font-family: "Helvetica Neue", sans-serif;
    font-size: larger;
}

h3#mainTitle {
    font-family: Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}
div.profilePic {
    position: relative;
    width: 100px;
    height: 50px;
    left: 20px;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}
@media screen and (width: 375px) and (height: 667px) {
    a[class*="fa-list"] {
        top: 50px;
    }
}
@media screen and (width: 414px) and (height: 736px) {
    #mainTitle {
        font-size: 30px;
    }
    a[class*="fa-list"] {
        top: 50px;
    }
}
@media screen and (max-width: 1050px) {
    nav ul {
        display: none;
    }

    nav ul li {

    }

    a[class*="fa-list"] {
        display: block;
    }
}
#recentPostMark {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 60px;
    text-align: center;
}

#loadPostsBtn, footer {
    color: blue;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

footer {
    color: gray;
    font-size: smaller;
}

#grayonhover {
    background-color: gray;
    width: 100%;
    height: 100%;
    display: none;
}

#centeringButton {
    text-align: center;
}

a:visited {
    color: black;
}