body {
    background: rgba(0, 125, 210, 2.5);
}

#motto {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}
nav ul {
    position: absolute;
    right: 30px;
    top: 70px;
    list-style-type: none;
    padding: 10px 5px;
}

nav ul li {
    display: inline;
}

#alternativeNavbar {
    text-align: center;
}

#alternativeNavbar li {
    display: none;
    list-style-type: none;
}
#alternativeNavbar li > a[title="Albums"], #alternativeNavbar li > a[title="Photos"], #alternativeNavbar li > a[title="Home"] {
    font-size: 20px;
    color: white;
}
#alternativeNavbar li > a[title="Albums"]:hover, #alternativeNavbar li > a[title="Photos"]:hover, #alternativeNavbar li > a[title="Home"]:hover {
    cursor: pointer;
    color: darkorange;
}
h3#mainTitle {
    font-size: x-large;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: white;
}
/* For iPhone 6S sizes */
@media screen and (width: 375px) and (height: 667px) {
    h3#mainTitle {
        font-size: 20px;
        text-align: justify;
    }
    #recentPostMark {
        font-size: 10px;
    }
}
/* For iPhone 6S Plus sizes */
@media screen and (width: 414px) and (height: 736px) {
    h3#mainTitle {
        font-size: 30px;
        text-align: justify;
    }
    #recentPostMark {
        font-size: 45px;
    }
}
/* For all other sizes other than for desktop & tablet */
@media screen and (max-width: 1000px){
    nav ul {
        display: none;
    }

    nav ul li {
        display: none;

    }
    #alternativeNavbar li {
        display: inline;
        list-style-type: none;
        font-family: "Helvetica Neue", sans-serif;
    }
}

#recentPostMark {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 60px;
    text-align: center;
}

a:visited {
    color: black;
}
#centeringButton {
    text-align: center;
}

#loadPostsBtn, footer {
    color: blue;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}

footer {
    color: white;
    font-size: smaller;
}

a[title="Move Up"] {
    cursor: pointer;
    position: absolute;
    right: 20px;
}

footer a {
    color: greenyellow;
}

footer a:visited {
    color: greenyellow;
}

#grayonhover {
    height: inherit;
    width: inherit;
}

#recentPostMark {
    color: whitesmoke;
}
