.leftColumn {
    float: left;
    position: relative;
    width: 49%;
    height: inherit;
    background-color: cornflowerblue;
    border-style: solid;
    border-color: rgba(100, 126, 252, 2.5);
    border-width: thick;
}

.profilePic, .content {
    position: absolute;
    display: inline-block;
}

.profilePic {
    border-style: solid;
    border-color: blue;
    border-width: thick;
    bottom: 4px;
    background-image: url("http://placehold.it/150/ee0a7e");
}

.content {
    top: 12px;
    left: 170px;
}

.username , .actualPost {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

.username {
    font-size: 20px;
}

.actualPost {
    font-size: 15px;
}

section {
    height: 100%;
}
/*
.content, .username, .actualPost {
    color: black;
    font-family: "Helvetica Neue", sans-serif;
}
.content {

}

.username {

}

.actualPost {

}
*/
div.profilePic {
    position: relative;
    width: 100px;
    height: 50px;
    left: 20px;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}