.leftColumn {
    overflow-x: auto;
    overflow-y: auto;
    float: left;
    position: relative;
    width: 49%;
    height: inherit;
    padding: 2px;
    background-color: cornflowerblue;
    border-style: solid;
    border-color: rgba(100, 126, 252, 2.5);
    border-width: thick;
    margin-left: -5px;

}

.profilePic, .content {
    position: absolute;
    display: inline-block;
}

.profilePic {
    border-style: solid;
    border-color: blue;
    border-width: thick;
    bottom: 4px;
    background-image: url("http://placehold.it/150/ee0a7e");
}

.content {
    top: -10px;
    left: 170px;
}

.username , .actualPost, .title {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

.username {
    font-size: 35px;
}

.actualPost {
    font-size: 20px;
}

.title {
    font-size: 27px;
}

section {
    height: 100%;
}
div.profilePic {
    position: relative;
    width: 100px;
    height: 50px;
    left: 20px;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}