.leftColumn {
    position: relative;
    margin: auto;
    width: 60%;
    height: 450px;
    background-color: cornflowerblue;
    border: thick solid rgba(100, 126, 252, 2.5);
}

.content {
    position: absolute;
    display: inline-block;
    top: -10px;
    left: 20px;
}

.username , .actualPost, .title {
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

.username {
    font-size: 35px;
}

.actualPost {
    font-size: 20px;
}

.title {
    font-size: 27px;
}

section {
    height: 100%;
}

/* tablet sizes */
@media screen and (min-width: 415px) and (max-width: 1366px) {
    .leftColumn {
        height: 300px;
    }
}

/* iPhone sizes */
@media screen and (min-width: 350px) and (max-height: 736px) {
    .leftColumn {
        width: 75%;
        height: 400px;
    }
}