.profile {
    width: auto;
    height: auto;
    background-color: deepskyblue;
    padding-top: 20px;
}

.profileImage, .profileInformation {
    display: inline-block;
}


.profileImage {
    width: 250px;
    height: 250px;
    position: relative;
    left: 20px;

    border-color: lawngreen;
    border-style: solid;
    border-width: thick;
    border-radius: 125px;
}

.header {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 50px;
    position: absolute;
    left: 40px;
    color: lawngreen;
}



