.profile {
    width: auto;
    height: auto;
    background-color: deepskyblue;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
}

.profileImage, .profileInformation {
    display: inline-block;
}

.profileInformation {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
}


.profileImage {
    width: 250px;
    height: 250px;
    position: relative;
    left: 20px;

    border-color: lawngreen;
    border-style: solid;
    border-width: thick;
    border-radius: 125px;
}
.profileInformation {
    position: absolute;
    left: 300px;
    font-family: "Helvetica Neue", sans-serif;
    color: azure;
    font-size: 25px;
}

.header {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 50px;
    color: lawngreen;
}


